node_modules/
yeoman/temp
yeoman/dist
npm-debug.log
yeoman/app/components/angular-complete
yeoman/components/angular-complete
*font-awesome*
build
build/**
build.log

.fastdev.lock

Resources/HTML/index.src.js

Resources/HTML/index.min.html

Resources/HTML/index.lib.js
